<h1>Register</h1>
<form>
    <fieldset>
        <legend>Your Name</legend>
        <label>
            First:
            <input type="text" name="firstName" />
        </label>
        <label>
            Last:
            <input type="text" name="lastName" />
        </label>
    </fieldset>
    <fieldset>
        <legend>E-mail address</legend>
        <label>
            E-mail:
            <input type="email" name="email" />
        </label>
        <label>
            E-mail (confirm):
            <input type="email" name="cemail" />
        </label>
    </fieldset>
    <fieldset>
        <label>
            Password:
            <input type="password" />
        </label>
        <label>
            Password (confirm):
            <input type="password" />
        </label>
    </fieldset>
    <p>
        <input type="submit" value="Register Now"/>
    </p>
</form>